<footer>
    <section class="categorias-footer">
      <h4>Categorias</h4>
      <ul>
        <li><a href="#">Gatos</a></li>
        <li><a href="#">Perros</a></li>
        <li><a href="#">Accesorios</a></li>
      </ul>
    </section>

    <section class="medios-de-pago">
      <h4>Medios De Pago</h4>
      <ul>
        <li><a href="#">Visa</a></li>
        <li><a href="#">Mastercard</a></li>
        <li><a href="#">MercadoPago</a></li>
      </ul>
    </section>

    <section class="contacto">
      <h4>Contacto</h4>
      <p><i class="fas fa-phone-alt mr-1"></i>0800-000-0000</i></p>
      <p><i class="far fa-envelope mr-1"></i>petshop@gmail.com</p>
      <p><i class="fas fa-map-marker-alt mr-1"></i>Calle Falsa 123 - CABA</p>
    </section>

    <section class="mail-input form-group">
      <input class="search-input form-control" type="text" placeholder="Dejanos Tu email">
    </section>

    <section class="redes-sociales center">
        <a class="social-icon-rounded" href="#">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="social-icon-rounded" href="#"> 
          <i class="fab fa-facebook-f"></i>
        </a>
    </section>


  </footer>