<header class="">
    <div class="promo-header center">
      <p>ENVIO GRATIS EN CABA Y ALREDEDORES<br><strong>5% OFF PAGANDO EN EFECTIVO</strong></p>
    </div>

    <div class="container-fluid pb-3">
      <section class="nav-bar no-gutters">
        <!-- <nav class="nav-menu">
          <ul>
            <li><a href="#">Gatos</a></li>
            <li><a href="#">Perros</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav> -->
        <div class="menu-bars d-block text-left">
          <i class="fas fa-bars"></i>
        </div>
        <div class="logo text-center">
          <a href="#"><img src="/img/img-logo-petShop.svg" alt="Logo PetShop" class="img-logo" /></a>
        </div>
        <div class="shopping-cart text-right">
          <i class="fas fa-shopping-cart"></i>
        </div>
      </section>
      <section class="search-input-box form-group order-last center">
          <input class="search-input form-control" type="text" placeholder="Qué estás buscando?">
          <button class="btn search-input-submit" type="submit"><i class="fa fa-search"></i></button>
      </section>
    </div>
  </header>