<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetShop</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="container">
    <header>
      <div class="banner-superior">
        <p>ENVIO GRATIS EN CABA Y ALREDEDORES</p>
        <p>5% OFF PAGANDO EN EFECTIVO</p>
      </div>
      <div class="menu-headder">
        <i class="fas fa-bars"></i>
        <i class="fas fa-shopping-cart"></i>
        <img
          src="/img/img-logo-petShop.svg"
          alt="Logo PetShop"
          class="img-logo"
        />
        
      </div>
      <div class="buscador-headder">
        <input type="text" placeholder="Que estas buscando" />
        <i class="fas fa-search"></i>
      </div>
    </header>
    <main>
      <section class="imagen-banner">
        <img src="./img/banner-slide-mobile.png" alt="">
      </section>

      <section class="slider-pagos">
        <p>Slider Pagos</p>
      </section>

      <section class="articulos-nuevos">
        <h2>Nuevos Productos</h2>
        <article class="articulos">
          <img src="./img/img-accesorio-kong-goodie-bone-extreme.jpg" alt="foto-promo-1" />
          <p class="nombre-producto">Nombre del Producto</p>
          <p class="precio-producto" >$1000</p>
        </article>
        <article class="articulos">
          <img src="./img/img-accesorio-kong-dotz-triangle.jpg" alt="foto-promo-2" />
          <p class="nombre-producto">Nombre del Producto</p>
          <p class="precio-producto" >$1000</p>
        </article>
      </section>

      <section class="categorias">
        <h2>Categorias</h2>
        <div>
          <img src="./img/img-categoria-perros.png" alt="imagen-perro">
        <p>Perros</p> </div>
        <div>
          <img src="./img/img-categoria-gatos.png" alt="imagen-gato">
          <p>Gatos</p>  
        </div>
        <div>
          <img src="./img/img-categoria-accesorios.png" alt="imagen-acc">
        <p>Accesorios</p> 
      </div>
      </section>
    </main>
    <footer class="footer">

      <section class="categorias-footer">
        
        <h2>Categorias</h2>
        <ul class="nav-list">
          <li class="nav-item"><a href="#">Gatos</a></li>
          <li class="nav-item"><a href="#">Perros</a></li>
          <li class="nav-item"><a href="#">Accesorios</a></li>
          
        </ul>

      </section>

      <section class="medios-de-pago">
        <h2>Medios De Pago</h2>
        <ul class="nav-list">
          <li><a href="#">Visa</a></li>
          <li><a href="#">Mastercard</a></li>
          <li><a href="#">MercadoPago</a></li>
          
        </ul>

      </section>

      <section class="contacto">
        <h2>Contacto</h2>
        <p><i class="fas fa-phone-alt"></i> 0800-000-0000</i></p>
        <p><i class="far fa-envelope"></i> petshop@gmail.com</p>
        <p><i class="fas fa-map-marked-alt"></i> Calle Falsa 123 - CABA</p>
      </section>

      <section class="mail-imput">

        <input type="text" placeholder="Dejanos Tu email">

      </section>

      <section class="redes-sociales">
        <button>
           <i class="fab fa-instagram"></i>
          </button>
       <button> 
           <i class="fab fa-facebook"></i>
          </button>

      </section>


    </footer>
  </div>

  </body>
</html>
