<%- include('./partials/head')  %> 

  <body>
    <%-include('./partials/header') %> 

    <main class="Home">
      
      <section class="slide-promociones">
        <img src="/img/banner-slide-mobile.png" alt="Promociones" class="slide-banner" />
      </section>

      <section class="slider-pagos-container">
        <div class="slider-pagos">
          <span class="slider-img">
            <img src="img/img-cuota-sin-interes.png" alt="Imagen de Cuotas sin interés" />
          </span>
          <span class="slider-text"><strong>Cuotas sin interés</strong><br>Dependiendo de las promociones de tu Banco</span>
        </div>
      </section>

      <div class="tit-section"><h2>Nuevos Productos</h2></div>
      
      <section class="articulos-nuevos">
        <article>
          <div class="img-container">
            <img src="img/img-accesorio-kong-ball-soga.jpg" alt="img-accesorio-kong-ball-soga" />
          </div>
          <p class="name">Kong Ball Soga</p>
          <p class="price">$1000</p>
        </article>
        <article>
          <div class="img-container">
            <img src="img/img-accesorio-kong-ball-soga.jpg" alt="img-accesorio-kong-ball-soga" />
          </div>
          <p class="name">Kong Ball Soga</p>
          <p class="price">$1000</p>
        </article>
        <article>
          <div class="img-container">
            <img src="img/img-accesorio-kong-ball-soga.jpg" alt="img-accesorio-kong-ball-soga" />
          </div>
          <p class="name">Kong Ball Soga</p>
          <p class="price">$1000</p>
        </article>
        <article>
          <div class="img-container">
            <img src="img/img-accesorio-kong-ball-soga.jpg" alt="img-accesorio-kong-ball-soga" />
          </div>
          <p class="name">Kong Ball Soga</p>
          <p class="price">$1000</p>
        </article>
      </section>

      <div class="tit-section"><h2>Categorias</h2></div>

      <section class="categorias">
        <div class="img-container item-perro">
          <img src="img/img-categoria-perros.png" alt="imagen-perro">
        </div>
        <div class="img-container item-gato">
          <img src="img/img-categoria-gatos.png" alt="imagen-gato"> 
        </div>
        <div class="img-container item-accesorios">
          <img src="img/img-categoria-accesorios.png" alt="imagen-acc">
      </div>
      </section>
    </main>

 <%-include('./partials/footer')  %> 
  </body>
</html>
